// out: ../css/graph.css, compress: true, sourceMap: false
@import 'variables.less';
// -------------------------------------------------
// Block '.graph'
// -------------------------------------------------
.graph{
    position: relative;
    text-align: center;

    // ----------------------------------------------
    // All modificators
    // ----------------------------------------------
    
    
    // ----------------------------------------------
    // All elements
    // ----------------------------------------------

    // Element '.graph .graph__text'
    & &__text{
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 20px;
        font-weight: 300;
    }

    & &__img{
        width: 250px;
    }
    
}

// -------------------------------------------------
// Size xSmall
// -------------------------------------------------
@media screen and (min-width: @breakpoint-xs-min) and (max-width: @breakpoint-xs-max){

}

// -------------------------------------------------
// Size Small
// -------------------------------------------------
@media screen and (min-width: @breakpoint-sm-min) and (max-width: @breakpoint-sm-max){

}

// -------------------------------------------------
// Size Medium
// -------------------------------------------------
@media screen and (min-width: @breakpoint-md-min) and (max-width: @breakpoint-md-max){

}

// -------------------------------------------------
// Size Large
// -------------------------------------------------
@media screen and (min-width: @breakpoint-lg-min) and (max-width: @breakpoint-lg-max){

}

// -------------------------------------------------
// Size xLarge
// -------------------------------------------------
@media screen and (min-width: @breakpoint-xlg-min){

}