// out: ../css/list.css, compress: true, sourceMap: false
@import 'variables.less';
// -------------------------------------------------
// Block '.list'
// -------------------------------------------------
.list{
    position: relative;

    // ----------------------------------------------
    // All modificators
    // ----------------------------------------------
    
    &&--v{

        .list__item{
            display: block;

            & + .list__item{
                margin-top: 10px;
            }
        }

        .list__title{
            display: block;
        }
    }
    
    // ----------------------------------------------
    // All elements
    // ----------------------------------------------
}