// out: ../css/main.css, compress: true, sourceMap: false
@import 'variables.less';

body,
html{
    color: #073447;
    font-size: 14px;
    line-height: 1.4;
    font-family: @font-site;
    font-weight: 400;
}

// -------------------------------------------------
// Block ''
// -------------------------------------------------

