// out: ../css/menu.css, compress: true, sourceMap: false
@import 'variables.less';
// -------------------------------------------------
// Block '.menu'
// -------------------------------------------------
.menu{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 16px 0;
    background: transparent;
    z-index: 1001;
    transition: all .3s;

    // Status '.menu.isScroll'
    &.isScroll{
        background: rgba(0, 0, 0, .74);
        
        // Element '.menu.isScroll .menu__logo'
        .menu__logo{
            color: @color-blue;
        }
    }

    // ---------------------------------------------
    // All modificators
    // ---------------------------------------------

    // ---------------------------------------------
    // All elements
    // ---------------------------------------------
    
    // Element '.menu .menu__logo'
    & &__logo{
        font-size: 24px;
        line-height: 24px;
        font-weight: 300;
        vertical-align: middle;
        margin-top: 5px;
        display: inline-block;
    }
    
    // Element '.menu .menu__list'
    & &__list{
        float: right;
        margin: 0;
        padding: 0;
        
        // Element '.menu .menu__list-item'
        &-item{
            position: relative;
            display: inline-block;
            vertical-align: middle;
        }

        // Element '.menu .menu__list-link'
        &-link{
            padding: 0 10px;
            color: rgba(255, 255, 255, .7);
            font-weight: 300;
            font-size: 13px;
            text-transform: uppercase;
            transition: all .3s;
            
            &:hover{
                color: #fff;
            }
        }
        
        // Element '.menu .menu__list-btn'
        &-btn{
            color: #fff;
            font-size: 13px;
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16);
            text-transform: uppercase;
            margin: 0 10px 0 20px;
            font-weight: 400;
        }
    }
}

// -------------------------------------------------
// Size xSmall
// -------------------------------------------------
@media screen and (min-width: @breakpoint-xs-min) and (max-width: @breakpoint-xs-max){

}

// -------------------------------------------------
// Size Small
// -------------------------------------------------
@media screen and (min-width: @breakpoint-sm-min) and (max-width: @breakpoint-sm-max){

}

// -------------------------------------------------
// Size Medium
// -------------------------------------------------
@media screen and (min-width: @breakpoint-md-min) and (max-width: @breakpoint-md-max){

}

// -------------------------------------------------
// Size Large
// -------------------------------------------------
@media screen and (min-width: @breakpoint-lg-min) and (max-width: @breakpoint-lg-max){

}

// -------------------------------------------------
// Size xLarge
// -------------------------------------------------
@media screen and (min-width: @breakpoint-xlg-min){

}