// out: ../css/table.css, compress: true, sourceMap: false
@import 'variables.less';
// -------------------------------------------------
// Block '.table'
// -------------------------------------------------
.table{
    position: relative;
    width: 100%;
    max-width: 100%;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
    
    // ----------------------------------------------
    // All modificators
    // ----------------------------------------------
    
    
    // ----------------------------------------------
    // All elements
    // ----------------------------------------------
    
    tr{
        border-bottom: 1px solid #eee;
    }
    
    th,
    td{
        padding: 20px;
        border-right: 1px solid #eee;
        font-size: 15px;
        font-weight: 300;
    }   
}


// -------------------------------------------------
// Size xSmall
// -------------------------------------------------
@media screen and (min-width: @breakpoint-xs-min) and (max-width: @breakpoint-xs-max){

}

// -------------------------------------------------
// Size Small
// -------------------------------------------------
@media screen and (min-width: @breakpoint-sm-min) and (max-width: @breakpoint-sm-max){

}

// -------------------------------------------------
// Size Medium
// -------------------------------------------------
@media screen and (min-width: @breakpoint-md-min) and (max-width: @breakpoint-md-max){

}

// -------------------------------------------------
// Size Large
// -------------------------------------------------
@media screen and (min-width: @breakpoint-lg-min) and (max-width: @breakpoint-lg-max){

}

// -------------------------------------------------
// Size xLarge
// -------------------------------------------------
@media screen and (min-width: @breakpoint-xlg-min){

}